<div class="container">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th class="lead font-weight-bold" id="table-head" colspan="5">All Todo Items</th>
      </tr>
      <tr>
        <th>Title</th>
        <th>Completed</th>
        <th>Created On</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let todo of todoList'>
        <td><a [routerLink]="['/todos', todo.id]">{{ todo.title }}</a></td>
        <td>{{ todo.completed | yesorno }}</td>
        <td>{{ todo.createdOn | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
