<div class="container">
  <h1 class="lead font-wieght bold">Add New Todo Item</h1>
  <form [formGroup]='todoForm'>
    <input class="form-control" type="text" formControlName="title" placeholder="enter todo title">
    <button class="btn btn-primary mt-2" (click)=createTodo(todoForm)>Add Todo</button>
  </form>
</div>

<div style="text-align: center;" *ngIf="messages">
  <p class="red mt-2" *ngFor="let message of messages">{{ message }}</p>
</div>
