<div class="container">
  <h1 class="lead font-wieght bold">Update Todo Item #{{ id }}</h1>
  <form *ngIf="todo" [formGroup]='todoForm'>
    <input class="form-control" type=hidden formControlName="id">
    <input class="form-control" type="text" formControlName="title">
    <label for="completed">Completed:</label>
    <input type="checkbox" formControlName="completed" id="completed">
    <button class="btn btn-primary" (click)=updateTodo(todoForm)>Update Todo</button>
  </form>
</div>

<div style="text-align: center;" *ngIf="messages">
  <p class="red mt-2" *ngFor="let message of messages">{{ message }}</p>
</div>
