body {
  background-color: #f4f4f4;
}

.btn {
  font-weight: bold;
  margin: 0 20px;
  padding: 5px;
}

.container {
  margin-top: 50px;
  text-align: center;
}

h1.lead {
  font-weight: bold;
}

.red {
  color: red;
}
