<div class="container">
  <h1 class="lead">Viewing Todo Item #{{ id }}</h1>
  <ul>
    <li class="lead">Title: {{ todo?.title }}</li>
    <li class="lead">Completed: {{ todo?.completed }}</li>
    <li class="lead">Created On: {{ todo?.createdOn | date }}</li>
  </ul>
  <a [routerLink]="['/todos/edit', todo?.id]"><button class="btn btn-primary">Edit</button></a>
  <button class="btn btn-success" (click)="markComplete()">Mark Completed</button>
  <button class="btn btn-danger" (click)="deleteTodo()">Delete</button>
</div>
